* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
  }

  body {
    height: 100vh;
  }

  .author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
  }

  .author-info a {
    text-decoration: none;
  }

  nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 28px;
    padding-bottom: 92px;
  }

  nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  nav ul li{
    padding-right:40px ;
  }

  #hero{
    display: flex;
  }